@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.res-nav {
  display: none;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  border: 1px solid orange;
}
.navbar {
  margin: 20px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.school {
  display: flex;
  align-items: center;
}
.school-title {
  margin-left: 11px;
  font-weight: bold;
  font-size: 32px;
}
.menus {
  text-decoration: none;
  display: flex;
}
.menu-item {
  list-style: none;
  margin-right: 30px;
}
.menu {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
}

.orange {
  color: #fea301;
}
.skyblue {
  color: #01acfd;
}
.light-blue {
  color: #05d4df;
}
.purple {
  color: #5d58ef;
}
.btn-common {
  width: 197px;
  height: 50px;
  border-radius: 12px;
}
.btn-contact {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 60px;
  border-radius: 12px;
  color: white;
  background-color: #fea301;
  border: none;
}
.empower-box {
  display: flex;
  justify-content: space-between;
  margin: 20px 141px;
}
.empower-content {
  padding: 7.625rem 3.125rem 7.625rem 0;
  width: 40rem;
  height: 20.6875rem;
}
.empower {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
}
.empower-description {
  font-size: 1.25rem;
}
.btn-enroll {
  font-size: 1.25rem;
  color: white;
  background-color: black;
}
.hero {
  margin: 0 17px;
  width: 100%;
}
.standard {
  margin-top: 3.75rem;
  text-align: center;
  font-size: 2.875rem;
  font-weight: bold;
}
.standard-box {
  margin: auto;
  align-content: center;
  background-image: url(assets/bg.png);
  width: 90rem;
  height: 54.93rem;
}
.shade1 {
  background: linear-gradient(#def5ff, white);
}
.shade2 {
  background: linear-gradient(#fff4dc, white);
}
.shade3 {
  background: linear-gradient(#eee1ff, white);
}

.standard-item {
  margin: 5rem 8.75rem;
  display: flex;

  justify-content: space-evenly;
}
.box-content {
  border-radius: 18.86px;
  text-align: center;

  align-items: center;
  justify-content: center;
  width: 23rem;
  height: 29.8125rem;
}
.bold {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.p-color {
  margin-bottom: 39px;
  font-size: 15px;
  font-weight: 500;
  color: #808080;
}
.btn-read {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.clr-rd1 {
  color: #64c8ff;
}
.clr-rd2 {
  color: #f0aa00;
}
.clr-rd3 {
  color: #8700ff;
}
.arrow {
  color: #fea301;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* story section */
.storybox {
  /* background-image: url(assets/bg.png); */
  /* backdrop-filter: linear-gradient(white, #febf4d); */
  margin: auto;

  width: 90rem;
  height: 63.625rem;
  background: linear-gradient(white, #febf4d);
}
.story {
  /* width: 100%; */
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}
.story-box1 {
  background-color: white;
  border-radius: 16px;
  width: 540px;
  height: 630.5px;
  margin: auto;
  align-content: center;
  text-align: center;
}
.story-img {
  border-radius: 16px 16px 0 0;
}
/* .date {
  position: absolute;
  bottom: -1450px;
  left: 120px;
  background-color: #05d4df;
  width: 10.9rem;
  height: 3rem;
  text-align: center;
  align-content: center;
  border-radius: 3rem;
} */
@media screen and (max-width: 576px) {
  .navbar {
    display: none;
  }
  .res-nav {
    width: 100%;
    display: flex;
  }

  .empower {
    font-size: 2rem;
    /* margin: 0; */
    margin-bottom: 2rem;
  }
  .empower-box {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
    margin: 0;
  }
  .empower-content {
    width: 100%;
    align-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .empower-description {
    display: none;
  }
  .hero {
    margin: 0;
  }
  .standard {
    text-align: center;
    margin: 0;

    width: 100%;
    padding: 0;
  }
  .standard-item {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    /* justify-content: space-evenly; */
  }
  .box-content {
    width: 100%;
    margin: 0;
  }
  .standard-box {
    width: 100%;
    margin: 0;
  }
  .arrow {
    display: none;
  }
}
